In [1]:
#### Import labraries and import dataset
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.linear_model import LinearRegression
import datetime

In [2]:
# This is actually NASDAQ Futures from Yahoo Finance
nas100 = pd.read_csv('NASDAQ100_dataset.csv', index_col="Date", parse_dates=True)
nas100

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-01-18,6771.520020,6816.229980,6727.939941,6784.609863,6784.609863,2459920000
2019-01-22,6736.649902,6738.569824,6603.560059,6646.810059,6646.810059,2397660000
2019-01-23,6689.080078,6712.859863,6584.500000,6658.759766,6658.759766,2288090000
2019-01-24,6680.339844,6710.729980,6656.520020,6702.549805,6702.549805,2419110000
2019-01-25,6755.669922,6800.970215,6733.319824,6787.370117,6787.370117,2446550000
...,...,...,...,...,...,...
2022-12-12,11572.259766,11707.709961,11529.410156,11706.440430,11706.440430,4829990000
2022-12-13,12141.240234,12166.410156,11724.900391,11834.209961,11834.209961,6126890000
2022-12-14,11824.540039,11941.280273,11617.410156,11740.919922,11740.919922,5485150000
2022-12-15,11573.379883,11591.330078,11300.349609,11345.219727,11345.219727,5536070000
2022-12-16,11313.639648,11383.389648,11175.540039,11243.719727,11243.719727,7968170000

In [3]:
nas100.describe()

,Open,High,Low,Close,Adj Close,Volume
count,987.000000,987.000000,987.000000,987.000000,987.000000,9.870000e+02
mean,11344.913997,11438.108531,11242.805706,11346.217869,11346.217869,4.081285e+09
std,2836.639143,2855.422605,2808.532620,2832.590261,2832.590261,1.509825e+09
min,6680.339844,6697.529785,6584.500000,6632.790039,6632.790039,1.014530e+09
25%,8370.940430,8406.964844,8329.635254,8379.009765,8379.009765,2.538890e+09
50%,11622.089844,11751.290039,11524.440430,11665.370117,11665.370117,4.268210e+09
75%,13669.734863,13725.409668,13532.279785,13656.500000,13656.500000,4.940840e+09
max,16644.769531,16764.859375,16523.830078,16573.339844,16573.339844,1.162119e+10

In [4]:
nas100.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 987 entries, 2019-01-18 to 2022-12-16
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       987 non-null    float64
 1   High       987 non-null    float64
 2   Low        987 non-null    float64
 3   Close      987 non-null    float64
 4   Adj Close  987 non-null    float64
 5   Volume     987 non-null    int64
dtypes: float64(5), int64(1)
memory usage: 54.0 KB

In [5]:
nas100.isnull().sum()

Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [6]:
nas100_predictor = nas100.round().astype(int)
nas100_predictor.head()

            Open  High   Low  Close  Adj Close      Volume
Date
2019-01-18  6772  6816  6728   6785       6785 -1835047296
2019-01-22  6737  6739  6604   6647       6647 -1897307296
2019-01-23  6689  6713  6584   6659       6659 -2006877296
2019-01-24  6680  6711  6657   6703       6703 -1875857296
2019-01-25  6756  6801  6733   6787       6787 -1848417296

In [7]:
nas100[['Open', 'Close', 'High', 'Low']] = nas100[['Open', 'Close', 'High', 'Low']].apply(lambda x: round(x, 0))
nas100.tail()

               Open     High      Low    Close     Adj Close      Volume
Date
2022-12-12  11572.0  11708.0  11529.0  11706.0  11706.440430  4829990000
2022-12-13  12141.0  12166.0  11725.0  11834.0  11834.209961  6126890000
2022-12-14  11825.0  11941.0  11617.0  11741.0  11740.919922  5485150000
2022-12-15  11573.0  11591.0  11300.0  11345.0  11345.219727  5536070000
2022-12-16  11314.0  11383.0  11176.0  11244.0  11243.719727  7968170000

In [8]:
Y = nas100[['Close']]
X = nas100[['Open', 'Volume', 'Low', 'High']]

In [9]:
#Splitting the data into tain and test data
X_train, X_test,Y_train,Y_test= train_test_split(X,Y, test_size=0.2, random_state=2)

In [10]:
# Define the model
nas100.shape

(987, 6)

In [11]:
# Build the model with LSTM Major L but recommended
# model = tf.keras.Sequential()
# model.add(tf.keras.layers.LSTM(units=50, input_shape=(None, X_train.shape[1])))
# model.add(tf.keras.layers.Dense(1))

In [12]:
model = LinearRegression()

In [13]:
# Train the model
model.fit(X_train, Y_train)

LinearRegression()

In [14]:
X.tail()

               Open      Volume      Low     High
Date
2022-12-12  11572.0  4829990000  11529.0  11708.0
2022-12-13  12141.0  6126890000  11725.0  12166.0
2022-12-14  11825.0  5485150000  11617.0  11941.0
2022-12-15  11573.0  5536070000  11300.0  11591.0
2022-12-16  11314.0  7968170000  11176.0  11383.0

In [15]:
Y.tail()

              Close
Date
2022-12-12  11706.0
2022-12-13  11834.0
2022-12-14  11741.0
2022-12-15  11345.0
2022-12-16  11244.0

In [18]:
input_data = (10837.20, 2238000, 10728.26, 10842.33)
input_values = np.asarray(input_data)

#Reshaping the arrary to get a single result
input_data_reshaped = input_values.reshape(1, -1)

In [20]:
anticipated = model.predict(input_data_reshaped)
if input_data[0] < anticipated:
    print(f"Buy!! & TP:{anticipated.round(2)}")
else:
    print(f"Sell!! & TP:{anticipated.round(2)}")

Sell!! & TP:[[10742.01]]

C:\Users\BIDA19-040\Anaconda3\envs\tensorflow\lib\site-packages\sklearn\base.py:409: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

# Investing Data & Trading View Volume
# 10695.1, 15359000, 10687.8, 10799 == 10777.12-up

# MetaTrader Data & Trading View Volume
# 10695.1, 15359000, 10776.75, 10900.00 == 10945.35-up Good for Avatrade
# 10837.20, 2238000, 10728.26, 10842.33 == 10742.01- Sell

# Investing Data & Trading View Volume
# 11033.5, 12103000, 10943.25 , 11036.25 == 10952.49-down

# _Test 1_ #

price_list = (10800.80, 877342447, 10776.62, 10981.06)
array_list = np.asarray(price_list)
reshape = array_list.reshape(1, -1)

anticipated = model.predict(reshape)
if price_list[0] < anticipated:
    print(f"Buy!! & TP:{anticipated}")
else:
    print(f"Sell!! & TP:{anticipated}")